<h1><%= t('activerecord.attributes.badge.show_all_badges') %></h1>

<%= render 'shared/errors', resource: @badge %>

<p><%= t('activerecord.attributes.badge.your_badges') %>:</p>

<% if @user_badges.any? %>
  <table class="table">
    <tr>
      <th><%= t('activerecord.attributes.badge.title') %></th>
      <th><%= t('activerecord.attributes.badge.image') %></th>
      <th><%= t('activerecord.attributes.badge.description') %></th>
      <th><%= t('activerecord.attributes.badge.event') %></th>
    </tr>

    <%= render @user_badges %>
  </table>
<% end %>

<p><%= t('activerecord.attributes.badge.unearned_badges') %></p>

<% if @remaining_badges.any? %>
  <table class="table">
    <tr>
      <th><%= t('activerecord.attributes.badge.title') %></th>
      <th><%= t('activerecord.attributes.badge.image') %></th>
      <th><%= t('activerecord.attributes.badge.description') %></th>
      <th><%= t('activerecord.attributes.badge.event') %></th>
    </tr>

    <%= render @remaining_badges %>
  </table>
<% end %>

<%= link_to t('actions.back'), root_path %>
