<h1><%= t('activerecord.attributes.tests.start_test', title: @result.test.title) %></h1>

<p>
  <%= t('result.question_with_number', number: @result.current_question_number) %>
</p>

<p>
  <%= t('result.question_count', count: @result.test.questions.count) %>
</p>

<%= content_tag :p,
                "",
                class: 'timer',
                data: { time: @result.result_timer_time } %>

<div class="progress_bar">
  <%= content_tag :div,
                  "",
                  class: 'progress_bar_fill',
                  data: { progress: @result.calculate_result_progress } %>
</div>

<p>
  <b><%= @result.current_question.body %></b>
</p>

<%= form_with url: result_path(@result), local: true, method: :put, class: 'result-form' do |form|%>
  <%= form.collection_check_boxes :answer_ids, @result.current_question.answers, :id, :text, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.attributes['id']}"%>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= form.submit t('actions.next') %></p>
<% end %>
