<h1><%= t('entities.question') %></h1>

<%= @answer.question.body %>

<p>
  <b><%= t('entities.answer') %>:</b>
  <%= @answer.text %>
</p>

<p>
  <b><%= t('activerecord.attributes.answer.correct') %>:</b>
  <%= I18n.t(@answer.correct)%>
</p>

<%= link_to t('actions.edit'), edit_admin_answer_path(@answer) %> |
<%= link_to t('actions.back'), admin_question_path(@answer.question) %>
