<%= form_with model:@test, local: true do |f| %>
  <%= render 'shared/errors', resources: @test%>

  <p>
    <%= f.label :title, 'Название' %><br>
    <%= f.text_field :title, id: :test_title%><br>
  </p>

  <p>
    <%= f.label :level, 'Уровень' %><br>
    <%= f.text_field :level, id: :test_level%><br>
  </p>

  <p>
    <%= f.label :category_id, 'Категория' %><br>
    <%= f.collection_select :category_id, Category.all, :id, :title, prompt: true%><br>
  </p>

  <p>
    <%= f.label :author_id, 'Автор' %><br>
    <%= f.collection_select :author_id, User.all, :id, :name, prompt: true%><br>
  </p>

  <p><%= f.submit "Сохранить" %></p>
<% end %>
