<h1>Тест <%= @test.title %></h1>
<p>Уровень теста: <%= test_level(@test) %></p>

<%= link_to 'Создать вопрос', new_test_question_path(@test) %><br>

<% if @test.questions.count > 0 %>
  <table>
    <tr>
      <th>Вопрос</th>
      <th colspan="3">Действия</th>
    </tr>
    <%= render @test.questions %>
  </table>
<% end %>

<%= link_to 'Удалить',
            tests_path(@test),
            method: :delete,
            data: { confirm: 'Удалить тест?' } %>
<%= link_to 'Список тестов', tests_path(@test) %>