<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <div class="parent-div">
      <div class="nav paddings">
        <div class="nav-admin user">
          <div class="nav-admin user-info">
            <div class="left-div">
              Добро пожаловать!
            </div>

            <div class="right-div">
              | <a class="link-without-underline" rel="nofollow" data-method="delete" href="/gurus/logout">Выход</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <%= render 'shared/flash' %>

    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
