<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if user_signed_in? %>
    <div class="parent-div">
      <div class="nav paddings">
        <div class="nav-admin user">
          <div class="nav-admin user-info">
            <div class="left-div">
              <%= t('hello') %>
            </div>

            <div class="right-div">
              | <a class="link-without-underline" rel="nofollow" data-method="delete" href="/gurus/logout"><%= t('actions.exit') %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <%= render 'shared/flash' %>

    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
